apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30092
    hostPort: 30092
    listenAddress: "0.0.0.0" # Optional, defaults to "0.0.0.0"
    protocol: tcp # Optional, defaults to tcp
- role: worker
  extraPortMappings:
    - containerPort: 31001 #constant port for mongo service
      hostPort: 31001
      listenAddress: "0.0.0.0" # Optional, defaults to "0.0.0.0"
      protocol: tcp
    - containerPort: 31002 # constant port for metrics service
      hostPort: 31002
      listenAddress: "0.0.0.0" # Optional, defaults to "0.0.0.0"
      protocol: tcp
  extraMounts:
      - hostPath: "${HOSTPATH}"
        containerPath: /data